<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css">
  <title>Thermostat</title>
</head>
<body>
  <h2>Current Temperature:</h2>
  <!--TODO Temperature Here-->
  <!--TODO <script src="src/index.js"> </script>-->
  <!-- <div class="controls"> -->
    <!-- <div class="reset_button"> -->
      <button class="reset">Reset</button>
    </div>
    <!-- <div class="increment"> -->
      <button class="plus">+</button>
      <button class="minus">-</button>
    <!-- </div> -->
    <!-- <div class="usage_button"> -->
      <button class="usage">Usage</button>
    <!-- </div> -->
    <!-- <div class="psm"> -->
    <label class="psm_label">Power Save Mode:
      <input type="radio" name="psm" checked="checked">On</input>
      <input type="radio" name="psm">Off</input>
    </label>
    <!-- </div> -->
  <!-- </div> -->
</body>
</html>